{% extends 'base_pagina.html' %}

{% load staticfiles %}

{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    Edita tu <strong>contraseña</strong>
                </div>
                <div class="card-body card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}      
                       {{form.as_p}}
                        
                         
                    
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                </form>
                
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}