{% extends 'base_pagina.html' %}

{% load staticfiles %}

{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    Edita tu <strong>perfil</strong>
                </div>
                <div class="card-body card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}      
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">Usuario</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">{{ user.username}}</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Email</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="email" id="text-input" name="email" value="{{user.email}}" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Nombre</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="first_name" value="{{user.first_name}}" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Apellidos</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="last_name"  value="{{user.last_name}}" class="form-control">
                            </div>
                        </div>
                        
                         
                    
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Guardar
                    </button>
                    <a class="btn btn-primary btn-sm" href="{% url 'cuentas:cambiar_clave'%}"> Cambiar clave</a>
                    
                </form>
                
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}