{% extends 'base_pagina.html' %}

{% load staticfiles %}

{% block contenido %}

    
        
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img src=" /static/images/logo2.png " alt="">
                        </a>
                    </div>
                    <div class="login-form">
                        <form  method="POST">{% csrf_token %}
                              {{ form.as_p}}
                             
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Activar Cuenta</button>
                           
                        </form>                       
                    </div>
                </div>
            </div>
        
 

{% endblock %}

<!-- END MAIN CONTENT-->



