{% extends 'base_pagina.html' %}
{% block arriba%}
{% endblock %}
{% block contenido %}

<div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="images/icon/logo.png" alt="Agrobit">
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="" method="post">
									{% csrf_token %}		
									<div class="form-group">
										<label>Correo :</label>
										<label  class="au-input au-input--full" >{{ form.email }}</label>										
									</div>	
									<button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Iniciar sesion</button>   								
                            </form>
							
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
