{% extends 'base_pagina.html' %}

{% block contenido %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>Ficha medica</strong> Elements
        </div>
        <div class="card-body card-block">
            <form method="POST"> {% csrf_token %}  
              
                {{ form.as_p }}
           
           
        </div>
        <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </form>
            </div>
    </div>    
</div>
{% endblock %}